#textmaster_settings ul.tabs {
	/*float: left;*/
	display: inline-table;
	width: 100%;
	margin: 0;
	padding: 0;
}
#textmaster_settings ul.tabs li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}
#textmaster_settings ul.tabs li a {
	overflow: hidden;
/*	display: block;*/
	margin: 0 4px 0 0;
	padding: 10px 12px;
	border-color: #DFDFDF #DFDFDF #CCC;
	background-color: #F1F1F1;
	color: #999;
	height:35px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	cursor:pointer;
}
#textmaster_settings ul.tabs li a:hover {
}

/* The current selected tab */
#textmaster_settings ul.tabs li a.tab-current {
	border-color: #CCC #CCC #E9E9E9;
	background-color: #E9E9E9;
	color: #333;
}

/* The content shown when a tab is selected */
#textmaster_settings div {
	/*float: left;*/
	display: block;
	width: 90%;
	border:solid 1px;
	border-color: #CCC #CCC #E9E9E9;
	margin:0;
	padding:0;
	margin-top:5px;
}


/* Set the CSS to make sure the other tabs' content isn't shown other than the first */
#textmaster_settings div.t2, #textmaster_settings div.t3, #textmaster_settings div.t4 {
	display: none;
}